<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
    <title>Post New Job</title>
</head>
    <body><style type="text/css">
body {
font-family: sans-serif; width: 800px; margin: 0 auto; padding: 10px; text-align: center;}</style>
        
        <a href="/">Back to Job Board</a>
        <h1>JobListly</h1>
    
        <h2>Post New Job</h2>
<form action="" method="post"
accept-charset="utf-8">
    <p> Company: <input type="string" name="company"/></p>
    <p> Job Title: <input type="string" name="title"/></p>
    <p>Job Description:</br> <label> <textarea name="message"
                style="height: 100px; width: 400px;"> </textarea></label></p>
    
    <p>Sector: <br /><input type="radio" name="sector" value="Technology" /> Technology<br />
<input type="radio" name="sector" value="Finance" /> Finance <br />
<input type="radio" name="sector" value="Marketing" /> Marketing <br />
<input type="radio" name="sector" value="Sales" /> Sales <br />
<input type="radio" name="sector" value="Government" /> Government <br />
<input type="radio" name="sector" value="General Labor" /> General Labor <br />
    
</p>
    <p><input type="submit"
    value="Post"></p>
    
</form>
</body>

</html>