<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
    <title>Post New Job</title>
</head>
    
    <body><style type="text/css">
body {
font-family: sans-serif; width: 800px; margin: 0 auto; padding: 10px; padding-bottom: 200px;}</style>
        
      <span style="margin-left: 725px;">  <a href="/">Back to Job Board</a> </span>
  <h1>[Job'Listly']</h1>
    <h2>New Job Post</h2>
    </br>
        
<form action="" method="post"
accept-charset="utf-8">
    <p> Company: </br><input type="string" name="company"/></p>
    <p> Job Title:</br> <input type="string" name="title"/></p>
    <p>Job Description:</br> </br><label> <textarea name="message"
                style="height: 200px; width: 600px;"> </textarea></label></p>
    
    <p>Coding Skills:</br> <br />
<input type="checkbox" name="sector" value="html" /> HTML &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp <input type="checkbox" name="sector" value="css" /> CSS <br />
<input type="checkbox" name="sector" value="python" /> Python&nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp <input type="checkbox" name="sector" value="javascript" /> Javascript <br />
<input type="checkbox" name="sector" value="ruby" /> Ruby  &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp <input type="checkbox" name="sector" value="c++" /> C++ <br />
    
</p>
    <p><input type="submit"
    value="Post"></p>
    
</form>
</body>

</html>